@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter-VariableFont_slnt\,wght.ttf') format('TrueType'),
        url('./assets/Montserrat-VariableFont_wght.ttf') format('TrueType');

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-bar {
    margin-top: 15px;
    font-family: Inter;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#time-bar .divider {
    color: #565656;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.07em;
}

#time-bar .divider::after {
    content: "";
    background-color: #d6d9e1;
    width: 1px;
    height: 11px;
    display: block;
    margin-left: 15px;
    margin-top: 5px;
}

#context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top;
}

#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
}



.noteDiv {
    width: 250px;
    height: 150px;
    background: #FFFFFF;
    border-top: 3px solid #FF7373;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}